<!-- <div>
  <h1>
    Pay your bills!
  </h1>
  <div class="InvoiceFilter">
    <button class="Filterbuttons" *ngFor="let filter of filters; index as i; " (click)="filterClickFunction(i)" [ngClass]="{'ActiveFilter': i === filterindexselected}">
      {{filter}}
    </button>
  </div>
  <div class="InvoiceList">
    <div class="InvoiceHeaderContainer">
        <div class="InvoiceHeaders">Item</div>
        <div class="InvoiceHeaders">Purpose</div>
        <div class="InvoiceHeaders">Status</div>
        <div style="margin-top: 20px;">Amount</div>
    </div>
    <div *ngFor = "let invoice of getfilteredinvoices()" style="display: flex; background-color: #d9e9fa;">  
      <div class="InvoiceHeaders">{{invoice.item}}</div>
      <div class="InvoiceHeaders">{{invoice.purpose}}</div>
      <div class="InvoiceHeaders">{{statusMap[invoice.status - 1]}}</div>
      <div style="align-items: center; display: flex;" >
        <button class="PayButton" *ngIf="invoice.status === 1" (click)="paymentFunction(invoice)">Pay {{invoice.price}}</button>
        <p *ngIf="invoice.status === 2">Paid {{invoice.price}}</p>
        <p *ngIf="invoice.status === 3">Payment expired</p>
      </div>      
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>